<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ESG Industry Dashboard</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/industry.css" media="screen">

  <!-- file sources and cdn's -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/industry.js"></script>

</head>

<body>

  <!-- New Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
      <img src="../static/images/WSWSlogo.png" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://conscious-investing.herokuapp.com/">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://conscious-investing.herokuapp.com/industry">Industry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://conscious-investing.herokuapp.com/stockanalysis">Stock Analysis</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Find" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Stock Ticker</button>
        </form> -->
    </div>
  </nav>

  <!-- End new Navbar -->

  <!-- Build plot data container and divisions for the industry breakdown -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 jumbotron text-center">
        <h1>ESG Industry Data</h1>
        <h2 style="color:rgb(7, 133, 47)">Use the interactive charts below to explore the aggregated environmental, social, and governance risk scores</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="well">
          <h5><strong>Select Industry Name:</strong></h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 id="changeback" class="panel-title">Industry Title</h3>
          </div>
          <div id="industry_name" class="panel-body"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="industry_individual"></div>
      </div>
      <div class="col-lg-4">
        <div id="top10_industries_bar"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div id="top10_E_industries_bar"></div>
      </div>
      <div class="col-lg-4">
        <div id="top10_S_industries_bar"></div>
      </div>
      <div class="col-lg-4">
        <div id="top10_G_industries_bar"></div>
      </div>
    </div>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/industry.js"></script>

  <!-- End of the Visualizations imageNav Area -->
  <!-- End of container -->
  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
    </p>Copyright & Copy;2020 Wall Street Warriors (WSWs).
  </footer>
  <!-- End of footer -->
  <!-- jQuery CDN -->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
  <!-- Bootstrap CDN -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>